# Server Configuration
PORT=8000
SESSION_SECRET=YOUR_SESSION_SECRET
SESSION_NAME=legalsid

# CORS Configuration
CORS_ORIGIN=*

# MongoDB
DB_URL=YOUR_MONGO_URL
MONGODB_URI=YOUR_MONGO_URI

# Node Environment
NODE_ENV=development

# Mistral API Key
MISTRAL_API_KEY=YOUR_MISTRAL_API_KEY

# Admin Secret
ADMIN_SECRET_KEY=YOUR_ADMIN_SECRET_KEY

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_API_SECRET

# Use fake data for testing
USE_FAKE_DATA=true

# Email Credentials
SMTP_USER=YOUR_SMTP_USERNAME
SMTP_PASS=YOUR_SMTP_PASSWORD
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
